{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

	<div class="page">
         {{!-- <header class="align header">
            <button class="internet" id="back">
                <img src="/svg/back.svg" class="internet-img">
            </button>
            <button class="internet">
                <img src="/svg/picture.svg" class="internet-img">
            </button>
        </header> --}}
        {{!-- <h1 class="title">Мій блог</h1>
        <div class="box">
            <div class="pen">
                <div class="pencil">
                    <button class="button-box">
                        <a href="/page">Важливо</a>
                    </button>
                    <button class="button-class">Нова</button>
                </div>
                <span class="time">25.01</span>
            </div>
            <div class="win">
                <p class="box-description">До біса планувальник, наймаємо</p>
                <p class="box-description">дизайнера і готуємося до презентації, як</p>
                <p class="box-description">Джобс</p>
            </div>
        </div>
        <div class="box-2">
            <div class="pen">
                <div class="pencil">
                    <button class="button-box">
                        <a href="/page">Важливо</a>
                    </button>
                    <button class="button-class">Нова</button>
                </div>
                <span class="time">15.01</span>
            </div>
            <div class="win">
                <p class="box-description-2">Ми хотіли щоб у цьому чаті було близько</p>
                <p class="box-description-2">150 людей щоб зробити якісний пак</p>
                <p class="box-description-2">самопрезентацій.</p>
            </div>
        </div>
        <div class="box">
            <div class="pen">
                <div class="pencil">
                    <button class="button-box">
                        <a href="/page">Важливо</a>
                    </button>
                    <button class="button-class">Нова</button>
                </div>
                <span class="time">25.01</span>
            </div>
            <div class="win">
                <p class="box-description">До біса планувальник, наймаємо</p>
                <p class="box-description">дизайнера і готуємося до презентації, як</p>
                <p class="box-description">Джобс</p>
            </div>
        </div> --}}
    </div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}