<main class="main">
    <div class="page page-2">
        {{!-- <div class="align">
            <button class="internet">
                <img src="/svg/back.svg" class="internet-img">
            </button>
            <button class="internet">
                <img src="/svg/picture.svg" class="internet-img">
            </button>
        </div>
        <h1 class="page-title">Коммьюніті</h1>
        <div class="team">
            <button class="team-button">База знань</button>
            <button class="team-button-2">Інформація</button>
        </div>
        <div class="divider-flex">
            <div class="divider-2"></div>
            <div class="divider"></div>
        </div>
        <img src="svg/team.svg" class="box">
        <h1 class="title">Що таке база знань?</h1>
        <p class="description">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач.</p>
        <button class="cool">Перейти до ком'юніті у Телеграм</button> --}}
    </div>
</main>